{% extends 'base.html' %}

{% block title %}
All articles on the site
{% endblock %}

{% block body %}
<div class='container'>
  <h1>All articles on the site</h1>

  {% if articles|length > 0 %}

    {% for element in articles %}
    <div class='alert alert-info'>
      <h2>{{ element.title }}</h2>
      <p>{{ element.intro }}</p>
      <p><b>Date: {{ element.date.date() }}</b></p>
      <a href='/posts/{{ element.id }}' class='btn btn-warning'>More</a>
    </div>
    {% endfor %}
  {% else %}
  <p> We don't have articles on the site yet </p>
  {% endif %}


</div>
{% endblock %}